* {
    padding: 0;
    margin: 0;
    font-family: 'Galada', cursive;
}

.platillos {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 75px;
    width: 100%;
    height: 70px;
    background-color: rgb(33, 33, 141);
}

.principal {
    display: flex;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10%;
}

.labels {
    position: relative;
    left: 25%;
    width: 850px;
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    background-color: rgb(75, 136, 235);
}

.inputs {
    position: relative;
    left: 25%;
    width: 850px;
    display: flex;
    flex-direction: row;
    border: solid black 1px;
}

input {
    margin: 5px;
}

input[type=file] {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
    margin-left: 100px;
}
.boton{
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:19px 56px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
    left: 45%;
    top: 9%;
}
.boton:hover {
	background-color:#5cbf2a;
}
.boton:active {
	position:relative;
	top:1px;
}
table.productos {
    width: 80%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
    position: relative;
    left: 10%;
    top: 25px;
  }
  
  table.productos td, table.productos th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
  }
  
  table.productos thead {
    background-color: #7EA8F8;
  }
