body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Galada', cursive;
    font-weight: 400;
    line-height: 2.8em;
    color: black;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 65px;
    color: #b7985b;
}

h3 {
    color: #fa9204;
    font-family: 'Oleo Script', cursive;
    text-shadow: 1px 2px #d27b04;
    font-size: 30px;
}

.pimg1 {
    background-image: url('../img/preparar-Gyros.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../img/italianoantes.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('../img/piccolala.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-image: url(http://alpomodoro.com.sv/wp-content/uploads/2018/06/fondo-papeleria.jpg);
    padding-bottom: 56px;
    padding-top: 112px;
    background-repeat: no-repeat;
    color: #666;
}

.section-light p {
    color: black;
    font-size: 20px;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    color: #fff;
    padding: 20px;
    font-family: 'Galada', cursive;
    font-size: 30px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}


.footer {
  background-image: url(http://alpomodoro.com.sv/wp-content/uploads/2018/06/fondo-papeleria.jpg);
    color: #000;
    text-align: center;
    padding: 50px 80px;
}

.footer2 {
    background-color: #282e34;
    color: white;
    text-align: center;
    height: 60px;
}
