@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

/*Menu*/
.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
    .main_h {
        padding-top: 25px;
    }
}

.open-nav {
    max-height: 400px !important;
}

.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}

.logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: -18px;
    line-height: 1;
    margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
    }
}

nav {
    float: right;
    width: 60%;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}

@media only screen and (max-width: 766px) {
    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
}

nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-family: 'Playball', cursive;
    font-size: 16px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

nav ul a:hover {
    font-size: 20px;
    text-shadow: 0.5px 1px gray;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 22px;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

.row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
}

* {
    box-sizing: border-box;
}
/*Fin del Menu*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}

hr {
    height: 1px;
    border: none;
    background: #7a7a7a;
    max-width: 80%;
    margin: 0 auto;
}

p,
h1 {
    max-width: 80%;
    margin: 20px auto;

}

h1 {
    font-weight: normal;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 55px;
    color: #fff;
    text-shadow: 4px 3px #0a1878;
}


.logo {
    font-family: 'Pacifico';
    font-size: 70px;
}

.logo_main {
    font-size: 60px;
    height: 250px;
    padding: 1px;
    background: #fff;
    color: #E60026;
    text-align: center;
    cursor: default;
}

.logo_small {
    display: inline-block;
    font-size: 20px;
    padding: 4px;
    margin-right: 50px;
    color: #E60026;
    cursor: pointer;
}

.logo_small img {
    margin-bottom: -7%;

}

.main {
    background: white;
    padding: 80px;
    60px;
}

body.nav_fixed .nav {
    position: fixed;
    /*Para ahorita*/
    top: 0;
}

body.nav_fixed .nav .wrap {
    left: 0;
}


.btn-menu {
    width: 60px;
    height: 60px;
    padding: 22px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translateX(100px);
}

.btn-menu:hover {
    transform: scale(1.2);
    background: green;
}


p {
    text-align: justify;
}


/*MENU RESPONSIVE*/

@media screen and (max-width: 800px) {
    .btn-menu {
        transform: translateX(0px);
    }

    .logo_main {
        display: none;
    }


    .main {
        background: white;
        padding: 20px;
        60px;
    }
}
