body{
    background-color: #c4d3f6;
}
#tablaProductos{
    
    margin-bottom: 3%;
}
th{
    color: #ffffff;
    background: #6c7ae0;
    height: 60px;
    width: 200px;
    
}
td{
    text-align: center;
  font-size: 17px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

h1{
    text-align: center;
}
